/* 자주 사용되는 기본 CSS */
*{ 
    box-sizing: border-box;     /* content + padding 포함 사이즈 정의 */
    padding: 0px; margin: 0px;  /* 기본 여백 제거 */

}

a{  
    text-decoration: none;      /* a하이퍼링크 밑줄 제거 */
    color: black;           /* a하이퍼링크 색상 검정 */
}

li{
    list-style-type: none;      /* li 항목 글머리 제거 */
}
/* 자주 사용되는 기본 CSS */

*{ border: solid 1px red;}


.전체{
    background-color: #292d32;
}

.div03{
    width: 1280px;
    margin: 0 auto;
    color: white;
}

.중앙상단{
    color: white;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid white;
}

.div003{
    display: flex;
    justify-content: space-between;
}

.divbox01{
    width: 400px;
}

.aaaaa{
    font-size: 15px;
}

.bbbbb{
    font-size: 25px;
    font-weight: bold;
}

.ccccc{
    margin:50px 0px 15px 0px;
}