/*

[ dispaly : flex , 하위 요소들의 배치 방법 ]

    1) flex-wrap
        - nowrap(기본값)  =>  하위요소들의 크기가 부모요소보다 커지면 자동 크기 맞춤
        - wrap           =>  하위요소들의 크기가 부모요소보다 커지면 자동 줄바꿈

    2) flex-direction
        - row(기본값)     =>  하위요소 가로배치
        - column         =>  하위요소 세로배치
        
    3) justify-content : 가로정렬
        - flex-start  
        - space-between
        - space-evenly

    4) align-item : 세로정렬
        - flex-start
        
    5) gap : 하위 요소들의 간격(여백)



[크기 단위]

    1) px : 절대 크기
    2) % : (부모)상대 크기
    3) rem : (루트HTML)상대 크기
    4) vw/vh : (디바이스/화면크기) 상대 크기



[ position ]

    1) static(기본값) : 정적인 위치, 위치 변경 불가능
    2) relative : (자기기준) 상대 위치
    3) absolute : (부모기준) 절대 위치, 가장 가까운 position 사용하는 부모요소 without static
    4) fixed : (디바이스/브라우저) 위치 고정
    5) sticky : 화면에 벗어나면 fixed 처럼 고정
    * 위치변경 : left , right , top , bottom 위치 변경 가능
    * z-index : position 사용하여 요소들이 겹쳣을 떄 우선 순위 * 숫자 클수록 앞에 배치



[ 가상 클래스 ]
    
    1) 마크업:hover  ,  해당 마크업에 마우스 올렸을 때
    2) 마크업::before  ,  해당 마크업 앞에 가상 컨텐츠(텍스트/이미지) 추가
    3) 마크업::after  ,  해당 마크업 뒤에 가상 컨텐츠 추가



*/



.basicTable{
    border: 1px solid black;
    width: 500px;
        
}

.basicTable th, .basicTable td{
    border: 1px solid red;
    padding: 5px;
}

/* 선택자:nth-child( N ), 동일한 선택자들 중에서 특정 N번째 요소*/
.basicTable td:nth-child(1){
    background-color: aqua;
}

.basicTable td:nth-child(3){
    background-color: beige;
}

.basicTable td[colspan]{
    text-align: right;
}


.styleTable{
    width: 700px;
    border-collapse: collapse; /* 이중테두리를 하나의 테두리로 병합 */
}

.styleTable th, .styleTable td{
    border: 1px solid black;
}


/* 선택자:nth-of-type(odd) 홀수-odd / 짝수-even 선택자 */
.styleTable > tbody > tr:nth-of-type(odd){
    background-color: #EEEEEE;
}

.styleTable > tbody > tr:hover{
    background-color: gray;
    color: white;
}










