.줄{
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;                 /* 글꼴 */
    font-size: 12px;                    /* 글자 크기 */
    font-style: normal ;                 /* 글자 기울기 */
    font-weight:400;                 /* 글자 진하게 */
    word-spacing: 1px;                 /* 단어간격(어간) */
    letter-spacing: 1px;                /* 글자간격(자간) */
    line-height: 100%;                  /* 줄간격 , %백분위 */
    text-align:center ;                 /* 텍스트 가로정렬 : left center right */
    text-decoration:line-through overline underline;         /* 텍스트 선 underline-밑줄 overline-윗줄 line-through-취소선 */
    text-shadow: 0px 0px 1px red;  /* x축(+오른쪽 -왼쪽) y축(+아래쪽 -위쪽) 흐림정도 색상 */
}

.파랑{
    color: blue;
    font-family:unset  ;                 /* 글꼴 */
    font-size: 12px;                    /* 글자 크기 */
    font-style:normal ;                 /* 글자 기울기 */
    font-weight:bolder;                 /* 글자 진하게 */
    word-spacing: 10px;                 /* 단어간격(어간) */
    letter-spacing: 5px;                /* 글자간격(자간) */
    line-height: 160%;                  /* 줄간격 , %백분위 */
    text-align: left;                 /* 텍스트 가로정렬 : left center right */
    text-decoration:none;         /* 텍스트 선 underline-밑줄 overline-윗줄 line-through-취소선 */
    text-shadow: 0px 0px 0px blue;  /* x축(+오른쪽 -왼쪽) y축(+아래쪽 -위쪽) 흐림정도 색상 */
}

.지혜{
    color: black;
    font-family: '궁서'  ;                 /* 글꼴 */
    font-size: 30px;                    /* 글자 크기 */
    font-style:italic ;                 /* 글자 기울기 */
    font-weight:bolder;                 /* 글자 진하게 */
    word-spacing: 1px;                 /* 단어간격(어간) */
    letter-spacing: 1px;                /* 글자간격(자간) */
    line-height: 100%;                  /* 줄간격 , %백분위 */
    text-align: left;                 /* 텍스트 가로정렬 : left center right */
    text-decoration: none;         /* 텍스트 선 underline-밑줄 overline-윗줄 line-through-취소선 */
    text-shadow: 0px 0px 0px black;  /* x축(+오른쪽 -왼쪽) y축(+아래쪽 -위쪽) 흐림정도 색상 */
}

#볼드{
    font-size: 20px; 
    font-weight:bolder;  
}
